<a href="https://colab.research.google.com/github/kumicerdeira/github-basic-kadai/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
上辺 = "10cm"
下辺 = "20cm"
高さ = "5cm"

#公式 : 台形の面積 = (上辺 + 下辺) * 高さ / 2
"台形の面積" = ("上辺" + "下辺") * 高さ / 2
print(f"台形の面積"{上辺} + {下辺} * {高さ} / 2 "㎠")

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-13-207b7de640ec>, line 6)

In [1]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[1]) # 2番目の要素だけを表示

user_names[1] = "侍花子" # 2番目の要素を更新
print(user_names)

user_names.append("侍五郎") # 6番目の要素を追加
print(user_names)

user_names.pop(2) # 3番目の要素を削除　（０始まりのため２を指定)
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [2]:
country_names = ("日本", "アメリカ", "イギリス", "フランス")

# 3番目の要素を取り出す
print(country_names[2])

# 全ての要素を取り出す
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [3]:
country_names = {"アメリカ", "イギリス", "日本", "フランス"}

#セット全体を表示
print(country_names)

country_names.add("ドイツ") # 「ドイツ」をセットに追加
print(country_names)

country_names.remove("イギリス") # セットから「イギリス」を削除
print(country_names)

{'フランス', 'イギリス', '日本', 'アメリカ'}
{'フランス', 'ドイツ', '日本', 'イギリス', 'アメリカ'}
{'フランス', 'ドイツ', '日本', 'アメリカ'}

In [4]:
#連想配列を作成
personal_data = {"name" : "侍太郎" , "age" : 36, "gender" : "男性"}

# キー「name」の値を表示
print(personal_data["name"])

# 連想配列全体を表示
print(personal_data)

# キー「age」の値を更新
personal_data["age"] = 37

# 新しく要素（キーと値）を追加
personal_data["address"] = "東京都"

#連想配列全体を表示
print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [5]:
print(45 + 18) #算術演算子を使った場合の戻り値を出力する
print(45 > 18) #比較演算子を使った場合の戻り値を出力する

63
True

In [7]:
num1 = 5
num2 = "5"

if num1== int(num2):
     print("num１とnum２は等しいです")

num１とnum２は等しいです

In [42]:
# ランダムな整数を利用するために、randamモジュールをインポート
import random

# 変数numに0~4までのランダムな整数を代入する
num = random.randint(0, 4)

#変数numの値を出力
print(num)

# 変数numの値が4であれば、「大当たりです」、３なら「当たりです」、それ以外なら「ハズレです」という文字列を出力する
if num == 4 :
    print("大当たりです")
elif num == 3 :
    print("当たりです")
else:
    print("ハズレです")

3
当たりです

In [83]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

num == random.randint(1, 100)

# 変数varを出力
print(num)


# 全ての条件が成り立つ場合にのみ処理を行う（変数verが３の倍数と５の倍数）
if num % 15 == 0:
    print("FizzBuzz")

# 一つでも条件が成り立てば処理を行う（変数verが３または５の倍数）
if num % 3 == 0:
   print("Fizz")
elif num % 5 == 0:
    print("Buzz")
else :
     print(var)

3
Fizz

In [ ]:
=